<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="padding-left: 73px;">
      Ideal Learning
    </ion-title>

    <ion-buttons slot="start">
      <ion-menu-button color="dark" class="menu1"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 
</ion-content>
