<ion-app>

  <ion-menu side="start" menuId="first" contentId="main">
    <ion-header>
      <ion-toolbar color="dark">
        <ion-title>Ideal Learning</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>

      <!--SIDE MENU -->

      <ion-list>
        <ion-item>
          <ion-icon name="cog-outline"></ion-icon>

          <a href="" class="menuside" style="padding-left: 5px">Configurações</a>
        </ion-item>

        <ion-item>
          <ion-icon name="help-circle-outline"></ion-icon>

          <a href="" class="menuside" style="padding-left: 5px">Ajuda</a>  
        </ion-item>

        <ion-item>
          <ion-icon name="close-circle-outline"></ion-icon>

          <a href="" class="menuside" style="padding-left: 5px">Sair</a>
        </ion-item>

      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
