$fade-dark : rgb(0, 0, 0);
$dark: rgb(0, 0, 0);

a{
  color: $fade-dark;
  text-decoration: none;

  &:visited{
    color: $dark;
    text-decoration: none;
    opacity: 0.42;
  }
  &:hover{
    opacity: 0.7;
    text-decoration: underline;
  }
  &:active{
    opacity: 1;
    text-decoration: none;
  }
}